.purchased {
  color: green;
}

.not-purchased {
  color: red;
}

.purchase-list-table {
  border-top: #000 solid 1px;
}

.purchase-list-container-button-grid {
  display: flex;
  justify-content: space-evenly;
  width: 15dvw;
  padding: 1%;
  background-color: #f0f0f0;
  margin: 0.1%;
  border-radius: 4px; 
}

@media (max-width: 600px) {
  .purchase-list-container-button-grid {
    width: 50dvw;
    margin: 0; 
  }
}
