.view-shop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  color: #f0f0f0;
  border: #000 solid 1px;
  border-radius: 8px;
  height: fit-content;
}

.view-shop-container-card {
  width: 78vw;
}

.shopDetailsLogo {
  width: 20vw;
  height: 100%;
  object-fit: cover;
  padding: 1%;
}

.view-shop-container-canvas {
  width: 100%;
  height: 100vh;
}
