.view-shop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  color: #f0f0f0;
  border: #000 solid 1px;
  border-radius: 8px;
  height: fit-content;
}

.view-shop-container-card {
  width: 78vw;
}

.shopDetailsLogo {
  width: 20vw;
  height: 100%;
  object-fit: cover;
  padding: 1%;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #34db5e;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.message-card {
  width: fit-content;
  height: 10vh;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.view-shop-container-canvas {
  width: 100%;
  height: 100vh;
}