<div class="view-shop-container-canvas">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>

  <div>
    <p-dialog
      header="Conform password"
      [modal]="true"
      [(visible)]="visible"
      [style]="{ width: '40rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [maximizable]="true"
    >
      <div class="add-url-container-sub">
        <p-floatLabel>
          <input type="text" pInputText [(ngModel)]="value" required />
          <label for="Url">Add Url</label>
        </p-floatLabel>
        <p-button
          icon="pi pi-plus"
          [rounded]="true"
          [text]="true"
          [raised]="true"
          (click)="get()"
          [disabled]="!value"
        />
      </div>
    </p-dialog>
  </div>

  @if(email == undefined){
  <div>
    <p>
      Add Shop First to Proceed To continue with the next steps, please ensure
      that you add a shop first. This is a crucial step in setting up your
      account and accessing all the features of CyborgCart. Once your shop is
      added, you can proceed with the following processes seamlessly. Add Shop:
      Create your shop by providing the necessary details. Customize Shop:
      Personalize your shop settings and appearance. Start Selling: Begin
      listing your products and start selling. Adding a shop is the first step
      to unlocking the full potential of CyborgCart. Let’s get started!
    </p>
    <div class="view-shop-container-button-container">
      <button
        type="button"
        pButton
        pRipple
        label="Add Shop"
        class="p-button-success"
        icon="pi pi-plus"
        (click)="addShop()"
      ></button>
    </div>
  </div>
  } @else {
  <div class="view-shop-container">
    <div class="shopDetailsLogo">
      <p-image
        src="{{ logo }}"
        alt="Image"
        width="{{ screen }}"
        loading="lazy"
      ></p-image>
    </div>
    <div class="view-shop-container-card">
      <h3>Shop details</h3>
      <p>name : {{ shopName }}</p>
      <p>address : {{ shopAddress }}</p>
      <p>mobile Number : {{ mobileNumber }}</p>
      <p>email : {{ email }}</p>
      <p>Shop Status : {{ status }}</p>

      <div class="view-shop-container-chip-container">
        @for (url of urls; track url) {
        <p-chip
          label="{{ url }}"
          [removable]="true"
          (onRemove)="removeUrl(url)"
          [style]="{ 'margin-top': '10px' }"
        />
        }
      </div>

      <div class="view-shop-container-button-container" *ngIf="!typeFlag">
        <p-button
          icon="pi pi-pencil"
          [rounded]="true"
          [text]="true"
          [raised]="true"
          severity="secondary"
          (click)="edit()"
        />
        <p-button
          icon="pi pi-link"
          [rounded]="true"
          [text]="true"
          [raised]="true"
          severity="secondary"
          (click)="manageUrls()"
        />
      </div>
    </div>

    <div class="view-shop-container-child">
      <router-outlet></router-outlet>
    </div>
  </div>

  }

  <div class="loader-container" *ngIf="!flag">
    <div class="loader"></div>
  </div>
</div>
