<div class="view-shop-container-canvas">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>

  <div class="view-shop-container" *ngIf="email != undefined">
    <div class="shopDetailsLogo">
      <p-image src="{{ logo }}" alt="Image" width="250"></p-image>
    </div>
    <p-card header="Shop details" class="view-shop-container-card">
      <p>name : {{ shopName }}</p>
      <p>address : {{ shopAddress }}</p>
      <p>mobile Number : {{ mobileNumber }}</p>
      <p>email : {{ email }}</p>
      <p>Shop Status : {{ status }}</p>

      @for (url of urls; track url) {
      <p-chip label="{{ url }}" [removable]="true" />
      }
    </p-card>
  </div>

  <div *ngIf="email == undefined">
    <p>
      Add Shop First to Proceed To continue with the next steps, please ensure
      that you add a shop first. This is a crucial step in setting up your
      account and accessing all the features of CyborgCart. Once your shop is
      added, you can proceed with the following processes seamlessly. Add Shop:
      Create your shop by providing the necessary details. Customize Shop:
      Personalize your shop settings and appearance. Start Selling: Begin
      listing your products and start selling. Adding a shop is the first step
      to unlocking the full potential of CyborgCart. Let’s get started!
    </p>
    <div class="view-shop-container-button">
      <button
        type="button"
        pButton
        pRipple
        label="Add Shop"
        class="p-button-success"
        icon="pi pi-plus"
        (click)="addShop()"
      ></button>
    </div>
  </div>

  <div class="loader-container" *ngIf="!flag">
    <div class="loader"></div>
  </div>
</div>
