<div class="forgetPassword-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>

  <form class="forgetPassword-container-form" [formGroup]="myForm">
    <div class="forgetPassword-container-form-top">
      <h1>Feedback</h1>
    </div>
    <div class="forgetPassword-container-form-input">
      <label>email </label>
      <input type="text" placeholder="email" formControlName="email" />
      <label>Message </label>
      <input type="text" placeholder="message" formControlName="message" />
    </div>

    <div class="forgetPassword-container-form-button">
      <button
        pButton
        pRipple
        label="Submit"
        class="p-button-success"
        (click)="submitForm()"
      ></button>
    </div>
  </form>
</div>
