<div class="view-product-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>
  <div>
    <p-dialog
      header="Update Product"
      [modal]="true"
      [(visible)]="visible"
      [style]="{ width: '65rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [maximizable]="true"
    >
      <div *ngIf="visible" class="view-product-container-sub">
        <app-update-product
          [products]="product"
          (flagChanged)="onFlagChanged($event)"
        ></app-update-product>
      </div>
    </p-dialog>
  </div>
  <div class="view-product-container-card-grid">
    <ng-container *ngIf="data.length > 0; else loading">
      <p-card
        *ngFor="let item of data"
        header="{{ item.ProductName }}"
        subheader="{{ item.ProductDescription }}"
      >
        <ng-template pTemplate="header">
          <img alt="Card" [src]="now(item.ProductImageBase)" loading="lazy" />
        </ng-template>
        <p>
          Uploaded On: {{ convertTimestampToDate(item.createdOn) }}
          <br />
          Product Type: {{ item.productType }}
          <br />
          Price: {{ item.productCost }} ₹
          <br />
          Status: {{ getStatusText(item.IsPurchased) }}
        </p>
        <div class="card flex justify-content-center">
          <button
            pButton
            pRipple
            label="Edit"
            icon="pi pi-pencil"
            class="p-button-text"
            (click)="setCurrentObjectId(item.id)"
          ></button>
        </div>
      </p-card>
    </ng-container>
    <ng-template #loading style="color: darkgreen">Not found</ng-template>
  </div>
</div>
<div class="loader-container" *ngIf="!flag">
  <div class="loader"></div>
</div>
