.view-product-container {
  color: darkgreen;
  border-radius: 8px;
  height: fit-content;
  width: 100%;
}

.view-product-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.view-product-card-container {
  width: 100%;
}

p-card {
  width: 95vw;
  margin: 1%;
  background-color: #f0f0f0;
}

ng-container {
  width: 300px;
  margin: 1%;
}

img {
  width: 40vw;
  height: 40vh;
  object-fit: cover;
}

@media (max-width: 600px) {
  p-card {
    width: 95vw;
    display: flex;
    flex-direction: column;
  }

  img {
    width: 95vw;
    height: 40vh;
    object-fit: cover;
  }
}

.view-product-card-data {
  background-color: rebeccapurple;
}

.card-image {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}
