<div class="view-product-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>

  <form class="add-product-container-form" [formGroup]="myForm">
    <h2>{{ data.length }}</h2>

    <select formControlName="productType" (change)="selectItem($event)">
      <option *ngFor="let option of options" [value]="option">
        {{ option }}
      </option>
    </select>
    <button
      pButton
      pRipple
      class="p-button-secondary"
      icon="pi pi-trash"
      (click)="clearSelection()"
    ></button>
    <button
      pButton
      pRipple
      class="p-button-secondary"
      icon="pi pi-caret-left"
      (click)="decries()"
    ></button>
    <button
      pButton
      pRipple
      class="p-button-secondary"
      icon="pi pi-caret-right"
      (click)="add()"
    ></button>
  </form>
  <div class="view-product-card">
    <ng-container *ngIf="data.length > 0; else loading">
      <p-card
        *ngFor="let item of data"
        header="{{ item.ProductName }}"
        subheader="{{ item.ProductDescription }}"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            [src]="now(item.ProductImageBase)"
            class="card-image"
          />
        </ng-template>
        <p>
          Uploaded On: {{ item.createdOn.low * 1000 | date : "medium" }}
          <br />
          Product Type: {{ item.productType }}
          <br />
          Price: {{ item.productCost }} ₹
          <br />
          Status: {{ getStatusText(item.IsPurchased) }}
        </p>
        <div class="card flex justify-content-space-evenly">
          <button
            pButton
            pRipple
            label="Wishlist"
            icon="pi pi-heart"
            *ngIf="!showButton"
            class="p-button-secondary"
            (click)="setCurrentObjectId(item.id)"
          ></button>

          <button
            pButton
            pRipple
            *ngIf="showButton"
            label="Delete"
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="remove(item.id)"
          ></button>
        </div>
      </p-card>
    </ng-container>
    <ng-template #loading>Loading...</ng-template>
  </div>
</div>
<div class="loader-container" *ngIf="data.length == 0">
  <div class="loader"></div>
</div>
