.user-add-wishlist-container {
  color: #f0f0f0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: #000 solid 0.1px;
  border-bottom: #000 solid 0.1px;
}

.user-add-wishlist-container-form {
  width: 30vw;
  height: fit-content;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-add-wishlist-container-card {
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 16px;
  justify-items: center;
  padding: 1%;
}

.user-add-wishlist-container-card p-card {
  width: 340px;
  height: 70vh;
  overflow: auto;
  border: 0.3px solid #d2d2d2;
  margin-top: 1%;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-add-wishlist-container-card p-card:hover {
  transform: translateY(10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.user-add-wishlist-container-card image {
  width: 4vw;
  height: 4vh;
  background-color: red !important;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.user-add-wishlist-container-button-grid {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 600px) {
  .user-add-wishlist-container-card {
    width: 100%;
    max-height: fit-content;
  }

  .user-add-wishlist-container-form {
    width: 100%;
  }
}
