.chartline-container-pannel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.chartline-container-pannel-card {
  width: 20dvw;
  color: #ffffff;
  height: fit-content;
  padding: 1%;
  margin-top: 1%;
  border-radius: 8px;
  border: 1px dotted #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .chartline-container-pannel-card {
    width: 95dvw;
    padding: 0.5rem;
  }
}
