<div class="disable-shop-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>
  <h1>Activation & Deactivation</h1>
  <div class="disable-shop-container-button">
    <button
      type="button"
      pButton
      pRipple
      label="Activation"
      class="p-button-success"
      (click)="trigger()"
    ></button>
    <button
      type="button"
      pButton
      pRipple
      label="Deactivation"
      class="p-button-success"
      (click)="trigger2()"
    ></button>
  </div>

  <div class="circle-form_two">
    <table className="circle-form_two">
      <thead>
        <tr>
          <th>Shop Name</th>
          <th>address</th>
          <th>Contact number</th>
          <th>Official Email</th>
          <th>Shop status</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="products.length > 0; else noData">
          <tr *ngFor="let project of products">
            <td>{{ project.shopName }}</td>
            <td>{{ project.address }}</td>
            <td>{{ project.officialContactNo }}</td>
            <td>{{ project.officialEmail }}</td>
            <td>{{ project.disable == false ? "Active" : "Deactivated" }}</td>
          </tr>
        </ng-container>
        <ng-template #noData>
          <tr>
            <td colspan="8">No data available</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
