<div class="add-shop-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>
  <h1 *ngIf="!flag">Add a new shop</h1>
  <p *ngIf="!flag">Quick tips</p>
  <p *ngIf="!flag">
    To add shop details to your dashboard, you will need the following
    information.
  </p>
  <p *ngIf="flag">
    You currently have a shop associated with this account. Click here to view
    your current shop details. Explore your shop details by clicking here. Check
    out your shop's information by clicking below. Want to see what's happening
    in your shop? Click here.
  </p>
  <button
    *ngIf="flag"
    type="button"
    pButton
    pRipple
    label="Current Shop"
    icon="pi pi-angle-double-right"
    (click)="viewShop()"
    class="p-button-success"
  ></button>
  <ul class="add-shop-container-tip" *ngIf="!flag">
    <li>Shop Name: Name of the shop.</li>
    <li>Address: Full address of the shop excluding the pin number.</li>
    <li>
      Official Email: Email address designated for official communications
      related to the shop.
    </li>
    <li>
      Official Contact Number: Contact number designated for official
      communications related to the shop.
    </li>
    <li>Shop GST: GST number assigned to the shop.</li>
    <li>PAN Card: PAN card number of the shop owner or the shop itself.</li>
    <li>Pin Code: Postal code of the shop location.</li>
  </ul>

  <form class="add-shop-container-form" [formGroup]="myForm" *ngIf="!flag">
    <div class="add-shop-container-form-top">
      <h1>Add Shop</h1>
    </div>
    <div class="add-shop-container-form-input">
      <label>Shop name </label>
      <div *ngIf="myForm.get('ShopName')?.errors?.['pattern']" class="error">
        Enter valid shop name
      </div>
      <input type="text" placeholder="Shop Name" formControlName="ShopName" />
      <label>Address </label>
      <div *ngIf="myForm.get('Address')?.errors?.['pattern']" class="error">
        Enter valid Address
      </div>
      <input type="text" placeholder="Shop Address" formControlName="Address" />
      <label>official email </label>
      <div
        *ngIf="myForm.get('officialEmail')?.errors?.['pattern']"
        class="error"
      >
        Enter valid official Email
      </div>
      <input
        type="text"
        placeholder="official email"
        formControlName="officialEmail"
      />
      <label>official contact Number </label>
      <div
        *ngIf="myForm.get('officialContactNo')?.errors?.['pattern']"
        class="error"
      >
        Enter valid official contactNo
      </div>
      <input
        type="text"
        placeholder="official contactNo"
        formControlName="officialContactNo"
      />
      <label>shop gst</label>
      <div *ngIf="myForm.get('shopGst')?.errors?.['pattern']" class="error">
        Enter valid shopGst
      </div>
      <input type="text" placeholder="shop gst" formControlName="shopGst" />
      <label>Pan card</label>
      <div *ngIf="myForm.get('panNo')?.errors?.['pattern']" class="error">
        Enter valid Pan-card number
      </div>
      <input
        type="text"
        placeholder="Pan-card number"
        formControlName="panNo"
      />

      <label>pin-code</label>
      <div *ngIf="myForm.get('pinCode')?.errors?.['pattern']" class="error">
        Enter valid pin-code number
      </div>
      <input
        type="text"
        placeholder="pin-code number"
        formControlName="pinCode"
      />
      <label>Shop Image</label>
      <input type="file" (change)="onImageSelected($event)" accept="image/*" />
    </div>
    <div class="add-shop-container-form-button">
      <button
        type="button"
        pButton
        pRipple
        label="Submit"
        class="p-button-success"
        (click)="submitForm()"
      ></button>
    </div>
  </form>
</div>
<div class="loader-container" *ngIf="">
  <div class="loader"></div>
</div>
