<div class="customer-dashboard-card">
  <p-menubar [model]="items" styleClass="menu">
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <p-avatar
          image="{{ profileImage }}"
          shape="circle"
          (mouseover)="date()"
          (click)="profile()"
        />
      </div>
    </ng-template>
  </p-menubar>
</div>

@if(Log != null){
<div class="pop-up">
  <label>Last Login : {{ Log }}</label>
</div>
}

<div class="customer-dashboard-container">
  <router-outlet></router-outlet>
</div>
