.customer-dashboard-container {
  width: 100%;
  height: fit-content;
  background-color: transparent;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::ng-deep .menu .p-menuitem:hover {
  background-color: #ffffff !important;
  border-radius: 6px;
  color: darkgreen;
}
