<div class="add-customer-table-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>
  <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Shop Name</th>
        <th>Address</th>
        <th>Official Email</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.shopName }}</td>
        <td>{{ product.address }}</td>
        <td>{{ product.officialEmail }}</td>
        <td>
          <button
            *ngIf="!product.isSubscribed"
            pButton
            pRipple
            label="Subscribe"
            class="p-button-success"
            (click)="subscribe(product.id)"
          ></button>

          <button
            pButton
            pRipple
            *ngIf="product.isSubscribed"
            label="un-subscribe"
            class="p-button-success"
            (click)="unSubscribe(product.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
