<div class="add-customer-table-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>
  <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Shop Name</th>
        <th>Address</th>
        <th>Official Email</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.shopName }}</td>
        <td>{{ product.address }}</td>
        <td>{{ product.officialEmail }}</td>
        <td>
          <button
            *ngIf="!product.isSubscribed !screen"
            pButton
            pRipple
            label="Subscribe"
            class="p-button-success"
            icon="pi pi-check"
            (click)="subscribe(product.id)"
            [disabled]="!flag"
          ></button>

          <button
            pButton
            pRipple
            *ngIf="product.isSubscribed && !screen"
            label="un-subscribe"
            class="p-button-success"
            icon="pi pi-thumbs-down"
            (click)="unSubscribe(product.id)"
            [disabled]="!flag"
          ></button>

          <button
            *ngIf="!product.isSubscribed && screen"
            pButton
            pRipple
            class="p-button-success"
            icon="pi pi-check"
            (click)="subscribe(product.id)"
            [disabled]="!flag"
          ></button>

          <button
            pButton
            pRipple
            *ngIf="product.isSubscribed && screen"
            class="p-button-success"
            icon="pi pi-thumbs-down"
            (click)="unSubscribe(product.id)"
            [disabled]="!flag"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="loader-container" *ngIf="!products">
  <div class="loader"></div>
</div>
