<div class="view-wishlist-container">
  <div class="view-wishlist-container-body">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Product Name</th>
          <th>Product Description</th>
          <th>Cost</th>
          <th>status</th>
          <th>customer name</th>
          <th>customer contact</th>
          <th>customer email</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.ProductName }}</td>
          <td>{{ product.ProductDescription }}</td>
          <td>{{ product.productCost }}</td>
          <td [ngClass]="getStatusInfo(product.isPurchased).class">
            {{ getStatusInfo(product.isPurchased).text }}
          </td>
          <td>{{ product.custName }}</td>
          <td>{{ product.custMob }}</td>
          <td>{{ product.custEmail }}</td>
          <td>
            <div class="card flex justify-content-center">
              <button
                pButton
                pRipple
                label="Sell"
                class="p-button-success"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
