.update-rating-container {
  color: #f0f0f0;
  border-radius: 8px;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-rating-container-card {
  width: 40vw;
  height: 40vh;
  margin-top: 1%;
}

.update-rating-container-card img {
  width: 40vw;
  height: 40vh;
  object-fit: cover;
}

@media (max-width: 600px) {
  .update-rating-container-card {
    width: 95vw;
    display: flex;
    flex-direction: column;
  }

  img {
    width: 95vw;
    height: 40vh;
    object-fit: cover;
  }

  .update-rating-submit {
    width: 90vw;
  }
}
