<div class="login-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>

  <div>
    <p>
      * If you don't have a account for this number / email - you can create
      one.
    </p>
  </div>

  <form class="login-container-form" [formGroup]="myForm">
    <div class="login-container-form-top">
      <h1>Login</h1>
    </div>
    <div class="login-container-form-input">
      <label>Username </label>
      <input
        type="text"
        pInputText
        placeholder="username"
        formControlName="Username"
      />

      <label>Password </label>
      <div *ngIf="myForm.get('Password')?.errors?.['pattern']" class="error">
        Enter valid Password
      </div>
      <p-password
        placeholder="Password"
        formControlName="Password"
        [feedback]="false"
      />
    </div>
    <div class="login-container-form-button">
      <button
        pButton
        pRipple
        label="Submit"
        class="p-button-success"
        [disabled]="myForm.invalid"
        (click)="submitForm()"
      ></button>
      <button
        pButton
        pRipple
        label="Register"
        class="p-button-success"
        (click)="register()"
      ></button>
    </div>

    <div class="login-container-form-p">
      <p (click)="forgetPassword()">Forget Password!</p>
    </div>
  </form>
</div>

<div class="loader-container" *ngIf="!flag">
  <div class="loader"></div>
</div>
