<div class="login-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>

  <div class="login-container-module">
    <p-button
      (onClick)="showDialog()"
      icon="pi pi-info-circle"
      severity="contrast"
    />

    <p-dialog
      header="Help"
      [modal]="true"
      [(visible)]="visible"
      [style]="{ width: '50rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [maximizable]="true"
    >
      <p>
        If you don’t have an account associated with this number or email, you
        can easily create one by clicking the 'Sign Up' or 'Register' button.
        You'll need to provide some basic information to set up your new account
        and if you have account but forget password then use forget password
        option to change your password
      </p>
    </p-dialog>
  </div>

  <form class="login-container-form" [formGroup]="myForm">
    <div class="login-container-form-top">
      <p-image
        src="../../assets/robot_614411.png"
        alt="Image"
        height="80"
        width="80"
        loading="lazy"
      />
      <h1>Login</h1>
    </div>

    <div class="login-container-form-input">
      <p-floatLabel>
        <input pInputText id="username" formControlName="Username" />
        <label for="username">Username</label>
      </p-floatLabel>

      <label>Password </label>
      <div *ngIf="myForm.get('Password')?.errors?.['pattern']" class="error">
        Enter valid Password
      </div>
      <p-password
        placeholder="Password"
        formControlName="Password"
        [feedback]="true"
      />
    </div>
    <div class="login-container-form-button">
      <button
        pButton
        pRipple
        label="Submit"
        class="p-button-success"
        [disabled]="myForm.invalid"
        (click)="submitForm()"
      ></button>
    </div>

    <div class="login-options">
      <p class="login-option" (click)="forgetPassword()">Forgot Password?</p>
      <span class="separator">OR</span>
      <p class="login-option" (click)="register()">Sign up</p>
    </div>
  </form>
</div>

<div class="loader-container" *ngIf="!flag">
  <div class="loader"></div>
</div>
