.login-container {
  position: relative;
  width: 100%;
  height: 97vh;
  color: #1e5d4a;
}

.login-container-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  width: 30vw;
  height: 75vh;
  border: solid #ffffff 0.2px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-container-form-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.login-container-form-top p-image {
  margin-bottom: 10px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.login-container-form-top h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.login-container-form-input {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
}

.login-container-form-input input {
  margin-top: 2%;
  // height: 5vh;
  // width: 33vw;
  border-radius: 5px;
  border: solid #f0f0f0 0.2px;
}

.login-container-form-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10%;
  width: 100%;
}

.login-container-form :hover {
  transform: translateY(-2px);
  transition: box-shadow 0.3s, transform 0.3s;
}

.login-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  color: #333;
}

.login-option {
  cursor: pointer;
  color: #1e5d4a;
  text-decoration: underline;
}

.login-option:hover {
  color: #1e5d49;
}

.separator {
  font-weight: bold;
  color: #888;
}

@media (max-width: 1000px) {
  .login-container-form {
    width: 80vw;
    height: fit-content;
  }

  .login-container-form-input input {
    height: 5vh;
  }
}
