.login-container {
  position: relative;
  width: 100%;
  height: 97vh;
  color: #1e5d4a;
}

.login-container-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  width: 40vw;
  height: 62vh;
  border: solid #ffffff 0.2px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container-form-top {
  background-color: #1e5d4a;
  height: 20%;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.login-container-form-top h1 {
  color: #f0f0f0;
  text-align: center;
}

.login-container-form-input {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
}

.login-container-form-input input {
  margin-top: 2%;
  height: 5vh;
  width: 33vw;
  border-radius: 5px;
  border: solid #f0f0f0 0.2px;
}

.login-container-form-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10%;
  width: 100%;
}

.login-container-form :hover {
  transform: translateY(-2px);
  transition: box-shadow 0.3s, transform 0.3s;
}

.login-container-form p {
  text-align: left;
  color: #1e5d4a;
}

.login-container-form-p {
  width: 90%;
  margin-top: 2%;
  border-top: dotted #1e5d4a 1px;
}

 



@media (max-width: 600px) {
  .login-container-form {
    width: 80vw;
    height: 50vh;
  }

  .login-container-form-input input {
    height: 5vh;
    width: 70vw;
  }
}
