<div class="about-container">
  <h1>About</h1>
  <p>
    Welcome to <strong>Cyborg Cart</strong>, your one-stop shop for cutting-edge
    robotics, AI gadgets, and futuristic technology. We are dedicated to
    offering you the very best products, with a focus on quality, innovation,
    and customer satisfaction.
  </p>

  <h2>Our Mission</h2>
  <p>
    Cyborg Cart offers tailored solutions for small shopkeepers looking to
    integrate cutting-edge technology into their businesses. we provide
    affordable tools designed to streamline operations, enhance customer
    experiences, and boost efficiency. Our goal is to empower small business
    owners to compete in the digital age with smart, easy-to-use solutions.
  </p>

  <h2>Our Team</h2>
  <p>Our team is made up of tech enthusiasts provide you affordable tools</p>
</div>
