<div class="message-card">
  <p-messages
    [value]="msg"
    [closable]="true"
    [enableService]="false"
  ></p-messages>
</div>
<div class="view-wishlist-container">
  <div class="view-wishlist-container-header">
    <div class="view-wishlist-container-header-sub">
      <p-button severity="secondary"
        ><i
          class="pi pi-heart text-3xl"
          pBadge
          value="{{ products.length }}"
        ></i
      ></p-button>

      <button
        pButton
        pRipple
        label="Add"
        class="p-button-success"
        icon="pi pi-user-plus"
        (click)="submit()"
      ></button>
    </div>
  </div>

  <div class="view-wishlist-container-body">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Product Name</th>
          <th>Product Description</th>
          <th>Cost</th>
          <th>product Type</th>
          <th>Remove</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.ProductName }}</td>
          <td>{{ product.ProductDescription }}</td>
          <td>{{ product.productCost }}</td>
          <td>{{ product.productType }}</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="remove(product.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="loader-container" *ngIf="products.length == 0">
  <div class="loader"></div>
</div>
