<div class="view-wishlist-container">
  <div class="view-wishlist-container-header">
    <button
      pButton
      pRipple
      label="Add"
      class="p-button-success"
      icon="pi pi-user-plus"
      (click)="submit()"
    ></button>
  </div>

  <div class="view-wishlist-container-body">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Product Name</th>
          <th>Product Description</th>
          <th>Cost</th>
          <th>product Type</th>
          <th>Remove</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.ProductName }}</td>
          <td>{{ product.ProductDescription }}</td>
          <td>{{ product.productCost }}</td>
          <td>{{ product.productType }}</td>
          <td>
            <button
              pButton
              pRipple
              label="Remove"
              icon="pi pi-user-minus"
              class="p-button-danger"
              (click)="remove(product.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
