.userlist-container {
  position: relative;
  width: 65%;
  height: fit-content;
  background-color: #f5f5f5;
  color: #1e5d4a;
  margin-top: 1%;
  border: solid #000 1px;
}

.userlist-header {
  margin: 1%;
}

.userlist-container th {
  background-color: #1e5d4a;
  color: black;
}

.userlist-outer {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
}

.userlist-text {
  width: 25%;
  background-color: #ffffff;
  padding: 1%;
}

@media (max-width: 600px) {
  .userlist-container {
    width: 100%;
  }

  .userlist-outer {
    display: flex;
    flex-direction: column;
  }

  .userlist-text {
    margin-top: 1%;
    width: 100%;
  }
}
