<h1 class="add-customer-table-container-header">User Management</h1>
<div class="add-customer-table-container-outer">
  <div class="add-customer-table-container">
    <div class="message-card">
      <p-messages
        [value]="msg"
        [closable]="true"
        [enableService]="false"
      ></p-messages>
    </div>
    <p-table
      [value]="products"
      [tableStyle]="{
        'min-width': '50rem',
        'background-color ': 'red',
        width: '100%'
      }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>firstName</th>
          <th>lastName</th>
          <th>userType</th>
          <th>remove</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.firstName }}</td>
          <td>{{ product.lastName }}</td>
          <td>{{ product.userType }}</td>
          <td>
            <p-button
              (click)="unsubscribe(product.id)"
              icon="pi pi-trash"
              severity="danger"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="add-customer-table-container-text">
    <p>Remove: Click to exclude the user from your wishlist.</p>

    <p>
      Important Notes: removing a user to your wishlist does not change their
      user type or other details; it simply allows you to keep track of them
      more easily. You can always add a user back to the wishlist after removing
      them by clicking the "Remove" button again.
    </p>
  </div>
</div>
