<div class="forgetPassword-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>
  <div class="Share-text">
    <p>* Share</p>
    <ul>
      <li>Share Application : Enter email for send any person</li>
      <li>Share Profile : Enter email for send any person</li>
    </ul>
  </div>

  <form class="forgetPassword-container-form" [formGroup]="myForm">
    <div class="forgetPassword-container-form-top">
      <h1>Share me!</h1>
    </div>
    <div class="forgetPassword-container-form-input">
      <label>email </label>
      <input type="text" placeholder="email" formControlName="email" />
    </div>

    <div class="forgetPassword-container-form-button">
      <button
        pButton
        pRipple
        label="Send"
        class="p-button-success"
        icon="pi pi-send"
        (click)="submitForm()"
      ></button>

      <button
        pButton
        pRipple
        label="Share Profile"
        class="p-button-success"
        icon="pi pi-send"
        (click)="shareProfile()"
      ></button>
    </div>
  </form>
</div>
