.update-product-container {
  height: 100%;
  width: 100%;
}

.update-product-container h1 {
  padding: 0;
}

.update-product-container-form {
  background-color: #f0f0f0;
  width: 40vw;
  height: fit-content;
  border: solid #ffffff 0.2px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

.update-product-container-form-top {
  color: #1e5d4a;
  height: 10vh;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.update-product-container-form-top h1 {
  text-align: center;
}

.update-product-container-form-input {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
}

.update-product-container-form-input input,
.update-product-container-form-input select {
  margin-top: 2%;
  height: 5vh;
  width: 33vw;
  border-radius: 5px;
  border: solid #f0f0f0 0.2px;
}

.update-product-container-form-input select {
  background-color: #ffffff;
}

.update-product-container-form-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10%;
  width: 100%;
}

.payment-form {
  padding: 1%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.payment-form input {
  width: 15vw !important;
  margin-bottom: 1%;
}

@media (max-width: 600px) {
  .update-product-container-form {
    width: 90%;
    height: fit-content;
    margin-left: -1%;
  }

  .update-product-container-form-input input,
  .update-product-container-form-input select {
    height: 5vh;
    width: 90%;
  }
}
