<div class="update-product-container">
  <h1>Update Product</h1>
  <p>
    Welcome to the Update Product page! Here, you can update an existing product
    in your shop. Simply make the necessary changes to the product details and
    click the "Update" button to save your changes. If you wish to remove the
    product, you can click the "Remove" button to delete it from your inventory.
    If you have any questions or need further assistance, please feel free to
    contact our support team. <br />
    <b>Thank you!</b>
  </p>

  <form class="update-product-container-form" [formGroup]="myForm">
    <div class="update-product-container-form-top">
      <h1>Update Product</h1>
    </div>

    <div class="update-product-container-form-input">
      <label>Product Name</label>
      <input
        type="text"
        placeholder="Product Name"
        formControlName="ProductName"
      />
      <label>Product Description </label>
      <input
        type="text"
        placeholder="Product Description"
        formControlName="ProductDescription"
      />

      <label>product Type</label>
      <select formControlName="productType">
        <option *ngFor="let option of options" [value]="option">
          {{ option }}
        </option>
      </select>

      <label>Product Image</label>
      <input type="file" (change)="onImageSelected($event)" accept="image/*" />

      <div class="payment-form">
        <label>Adjust product Cost</label>
        <input
          type="text"
          placeholder="Product Cost"
          formControlName="productCost"
          (input)="onProductCostInput()"
        />

        <label>Add Discount</label>
        <input
          type="text"
          placeholder="Discount"
          formControlName="discount"
          (input)="onDiscountInput()"
        />
        <div class="card flex justify-content-center">
          <button
            pButton
            pRipple
            label="calculate"
            class="p-button-success"
            (click)="adjust()"
          ></button>
        </div>
      </div>

      <div class="update-product-container-form-button">
        <button
          type="button"
          pButton
          pRipple
          label="Update"
          class="p-button-success"
          (click)="submitForm()"
        ></button>
        <p-button 
          label="Remove"
          severity="danger"
          (click)="remove()"
        ></p-button>
      </div>
    </div>
  </form>
</div>
