@if(!products){
<div class="loader-container">
  <div class="loader"></div>
</div>
} @else {
<h1 class="add-customer-table-container-header">User Management</h1>
<div class="add-customer-table-container-outer">
  <div class="add-customer-table-container">
    <div class="message-card">
      <p-messages
        [value]="msg"
        [closable]="true"
        [enableService]="false"
      ></p-messages>
    </div>
    <p-table
      [value]="products"
      class="custom-table"
      styleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>User Type</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.firstName }}</td>
          <td>{{ product.lastName }}</td>
          <td>{{ product.userType }}</td>
          <td class="add-customer-table-container-button-grid">
            @if(!showButton){
            <p-button
              icon="pi pi-trash"
              severity="danger"
              (click)="unsubscribe(product.id)"
            ></p-button>
            } @else{
            <button
              pButton
              pRipple
              class="p-button-success"
              icon="pi pi-user-plus"
              (click)="edit(product.id)"
            ></button>
            }
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="empty">
        <tr>
          <td colspan="4" class="no-data">No data found</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="add-customer-table-container-text">
    <p>Add: Click to include the user in your wishlist.</p>
    <p>Remove: Click to exclude the user from your wishlist.</p>

    <p>
      Important Notes: Adding a user to your wishlist does not change their user
      type or other details; it simply allows you to keep track of them more
      easily. You can always add a user back to the wishlist after removing them
      by clicking the "Add" button again.
    </p>
  </div>
</div>
}
