<div class="add-customer-table-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>
  <p-table
    [value]="products"
    [tableStyle]="{
      'min-width': '50rem',
      'background-color ': 'red',
      width: '100%'
    }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>firstName</th>
        <th>lastName</th>
        <th>userType</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.firstName }}</td>
        <td>{{ product.lastName }}</td>
        <td>{{ product.userType }}</td>
        <td class="add-customer-table-container-button-grid">
          <button
            pButton
            pRipple
            label="Add"
            class="p-button-success"
            (click)="edit(product.id)"
          ></button>
          <p-button
            label="remove"
            *ngIf="!showButton"
            severity="danger"
            (click)="unsubscribe(product.id)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
