<div class="view-product-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>

  <div class="feed-product-container-form">
    <p-badge
      value="{{ product.length }}"
      badgeSize="large"
      severity="warning"
    />

    <button
      pButton
      pRipple
      class="p-button-secondary"
      icon="pi pi-trash"
      (click)="clearSelection()"
    ></button>
    <button
      pButton
      pRipple
      class="p-button-secondary"
      icon="pi pi-caret-left"
      (click)="decries()"
    ></button>
    <button
      pButton
      pRipple
      class="p-button-secondary"
      icon="pi pi-caret-right"
      (click)="add()"
    ></button>
  </div>
  <div class="view-product-card">
    <ng-container *ngIf="product.length > 0; else loading">
      <p-card
        *ngFor="let item of product"
        header="{{ item.ProductName }}"
        subheader="{{ item.ProductDescription }}"
      >
        <div class="view-product-card-contain">
          <img
            alt="Card"
            [src]="'data:image/webp;base64,' + now(item.ProductImageBase)"
            class="card-image"
          />

          <div class="view-product-card-contain-sub">
            <p>
              Uploaded On: {{ item.createdOn.low * 1000 | date : "medium" }}
              <br />
              Product Type: {{ item.productType }}
              <br />
              Price: {{ item.productCost }} ₹
              <br />
              Status: {{ getStatusText(item.IsPurchased) }}
              <br />
              Rating : <p-rating [(ngModel)]="item.rating" [disabled]="true" />
            </p>

            <div class="button-grid" *ngIf="!screen">
              <button
                pButton
                pRipple
                label="WishList"
                class="p-button-secondary"
                icon="pi pi-heart-fill"
                (click)="WishList(item.id)"
              ></button>

              <button
                pButton
                pRipple
                label="remove"
                class="p-button-secondary"
                icon="pi pi-trash"
                (click)="remove(item.id)"
              ></button>

              <button
                pButton
                pRipple
                label="Purchase"
                class="p-button-secondary"
                icon="pi pi-receipt"
                (click)="paymentRoute(item.id)"
              ></button>
            </div>

            <div class="button-grid" *ngIf="screen">
              <button
                pButton
                pRipple
                class="p-button-secondary"
                icon="pi pi-heart-fill"
                (click)="WishList(item.id)"
              ></button>

              <button
                pButton
                pRipple
                class="p-button-secondary"
                icon="pi pi-trash"
                (click)="remove(item.id)"
              ></button>

              <button
                pButton
                pRipple
                class="p-button-secondary"
                icon="pi pi-receipt"
                (click)="paymentRoute(item.id)"
              ></button>
            </div>
          </div>
        </div>
      </p-card>
    </ng-container>
    <ng-template #loading style="text-align: center">No data Found</ng-template>
  </div>
</div>
<div class="loader-container" *ngIf="!flag">
  <div class="loader"></div>
</div>
