<div class="add-product-container">
  <h1>Edit Product</h1>
  <p>
    Welcome to the Update Product Details page! Here, you can modify the details
    of your Product. Simply update the necessary fields with the new information
    and click the "Submit" button to update your Product details. If you have
    any questions or need further assistance, please feel free to contact our
    support team. <br />
    <b>Thank you!</b>
  </p>

  <form class="add-product-container-form" [formGroup]="myForm">
    <div class="add-product-container-form-top">
      <h1>Edit Product</h1>
    </div>

    <div class="add-product-container-form-input">
      <label>Product Name </label>
      <input
        type="text"
        placeholder="Product Name"
        formControlName="ProductDescription"
      />
      <label>Product Description </label>
      <input
        type="text"
        placeholder="Product Name"
        formControlName="ProductName"
      />

      <label>product Type</label>
      <select formControlName="productType">
        <option *ngFor="let option of options" [value]="option">
          {{ option }}
        </option>
      </select>

      <label>Product Cost </label>
      <input
        type="number"
        placeholder="Product Cost"
        formControlName="productCost"
      />

      <label>Product Image</label>
      <input type="file" (change)="onImageSelected($event)" accept="image/*" />

      <div class="add-product-container-form-button">
        <button
          type="button"
          pButton
          pRipple
          label="Submit"
          class="p-button-success"
          (click)="submitForm()"
        ></button>

        <button
          type="button"
          pButton
          pRipple
          label="next"
          class="p-button-success"
          (click)="next()"
        ></button>
      </div>
    </div>
  </form>
</div>
