<div class="conform-password-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>

  <form class="conform-password-container-form" [formGroup]="myForm">
    <div class="conform-password-container-form-top">
      <h1>Conform Password</h1>
    </div>

    <div class="conform-password-container-form-input">
      <label>New Password </label>
      <div *ngIf="myForm.get('Password')?.errors?.['pattern']" class="error">
        Enter valid Password
      </div>
      <input
        type="text"
        placeholder="new Password"
        formControlName="Password"
      />
    </div>
    <div class="conform-password-container-form-button">
      <button
        pButton
        pRipple
        label="Submit"
        class="p-button-success"
        [disabled]="myForm.invalid"
        (click)="submitForm()"
      ></button>
    </div>
  </form>
</div>
