<div class="view-product-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>
  <div class="view-product-card">
    <ng-container *ngIf="data.length > 0; else loading">
      <p-card
        *ngFor="let item of data"
        header="{{ item.ProductName }}"
        subheader="{{ item.ProductDescription }}"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            [src]="'data:image/jpeg;base64,' + now(item.ProductImageBase)"
            class="card-image"
          />
        </ng-template>
        <p>
          Uploaded On: {{ item.createdOn.low * 1000 | date : "medium" }}
          <br />
          Product Type: {{ item.productType }}
          <br />
          Price: {{ item.productCost }} ₹
          <br />
          Status: {{ getStatusText(item.IsPurchased) }}
          <br />
          Rating : <p-rating [(ngModel)]="item.rating" [disabled]="true"/>
        </p>
        <div class="button-grid" *ngIf="!screen">
          <button
            pButton
            pRipple
            label="Rate Product"
            icon="pi pi-star-fill"
            class="p-button-secondary"
            (click)="setCurrentObjectId(item.id)"
            [disabled]="!flag"
          ></button>

          <button
            pButton
            pRipple
            label="WishList"
            class="p-button-secondary"
            icon="pi pi-heart-fill"
            (click)="WishList(item.id)"
            [disabled]="!flag"
          ></button>

          <button
            pButton
            pRipple
            label="Purchase"
            class="p-button-secondary"
            icon="pi pi-receipt"
            (click)="paymentRoute(item.id)"
            [disabled]="!flag || item.IsPurchased"
          ></button>

          <button
            pButton
            pRipple
            *ngIf="showButton"
            label="remove"
            class="p-button-secondary"
            icon="pi pi-trash"
            (click)="remove(item.id)"
            [disabled]="!flag"
          ></button>
        </div>

        <div class="button-grid" *ngIf="screen">
          <button
            pButton
            pRipple
            icon="pi pi-star-fill"
            class="p-button-secondary"
            (click)="setCurrentObjectId(item.id)"
            [disabled]="!flag"
          ></button>

          <button
            pButton
            pRipple
            class="p-button-secondary"
            icon="pi pi-heart-fill"
            (click)="WishList(item.id)"
            [disabled]="!flag"
          ></button>

          <button
            pButton
            pRipple
            class="p-button-secondary"
            icon="pi pi-receipt"
            (click)="paymentRoute(item.id)"
            [disabled]="!flag || item.IsPurchased"
          ></button>

          <button
            pButton
            pRipple
            *ngIf="showButton"
            class="p-button-secondary"
            icon="pi pi-trash"
            (click)="remove(item.id)"
            [disabled]="!flag"
          ></button>
        </div>
      </p-card>
    </ng-container>
    <ng-template #loading>Loading...</ng-template>
  </div>
</div>
<div class="loader-container" *ngIf="data.length == 0">
  <div class="loader"></div>
</div>
