<div class="view-product-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>

  <form class="add-product-container-form" [formGroup]="myForm">
    <select formControlName="productType" (change)="selectItem($event)">
      <option *ngFor="let option of options" [value]="option">
        {{ option }}
      </option>
    </select>
    <button
      pButton
      pRipple
      class="p-button-secondary"
      icon="pi pi-trash"
      (click)="clearSelection()"
    ></button>
  </form>

  <div class="view-product-card">
    <ng-container *ngIf="data.length > 0; else loading">
      <p-card
        *ngFor="let item of data"
        header="{{ item.ProductName }}"
        subheader="{{ item.ProductDescription }}"
      >
        <div class="view-product-card-contain">
          <img
            alt="Card"
            [src]="'data:image/webp;base64,' + now(item.ProductImageBase)"
            class="card-image"
          />

          <div>
            <p>
              Uploaded On: {{ item.createdOn | date : "medium" }}

              <br />
              Product Type: {{ item.productType }}
              <br />
              Price: {{ item.productCost }} ₹
              <br />
              Status: {{ getStatusText(item.IsPurchased) }}
              <br />
              Rating : <p-rating [(ngModel)]="item.rating" [disabled]="true" />
            </p>

            <h3 (click)="onViewShop(item.ownerId)">
              Seller : {{ item.shopName }}
            </h3>

            <div class="button-grid" *ngIf="!screen">
              <button
                pButton
                pRipple
                label="Rate Product"
                icon="pi pi-star-fill"
                class="p-button-secondary"
                (click)="setCurrentObjectId(item.id)"
                [disabled]="!flag"
              ></button>

              <button
                pButton
                pRipple
                label="WishList"
                class="p-button-secondary"
                icon="pi pi-heart-fill"
                (click)="WishList(item.id)"
                [disabled]="!flag"
              ></button>

              <button
                pButton
                pRipple
                label="Purchase"
                class="p-button-secondary"
                icon="pi pi-receipt"
                (click)="paymentRoute(item.id)"
                [disabled]="!flag || item.IsPurchased"
              ></button>

              <button
                pButton
                pRipple
                *ngIf="showButton"
                label="remove"
                class="p-button-secondary"
                icon="pi pi-trash"
                (click)="remove(item.id)"
                [disabled]="!flag"
              ></button>
            </div>

            <div class="button-grid" *ngIf="screen">
              <button
                pButton
                pRipple
                icon="pi pi-star-fill"
                class="p-button-secondary"
                (click)="setCurrentObjectId(item.id)"
                [disabled]="!flag"
              ></button>

              <button
                pButton
                pRipple
                class="p-button-secondary"
                icon="pi pi-heart-fill"
                (click)="WishList(item.id)"
                [disabled]="!flag"
              ></button>

              <button
                pButton
                pRipple
                class="p-button-secondary"
                icon="pi pi-receipt"
                (click)="paymentRoute(item.id)"
                [disabled]="!flag || item.IsPurchased"
              ></button>

              <button
                pButton
                pRipple
                *ngIf="showButton"
                class="p-button-secondary"
                icon="pi pi-trash"
                (click)="remove(item.id)"
                [disabled]="!flag"
              ></button>
            </div>
          </div>
        </div>
      </p-card>
    </ng-container>
    <ng-template #loading>Loading...</ng-template>
  </div>
</div>
<div class="loader-container" *ngIf="!loader">
  <div class="loader"></div>
</div>
