<div class="view-product-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>
  <div class="view-product-card">
    <ng-container *ngIf="data.length > 0; else loading">
      <p-card
        *ngFor="let item of data"
        header="{{ item.ProductName }}"
        subheader="{{ item.ProductDescription }}"
      >
        <ng-template pTemplate="header">
          <img alt="Card" [src]="item.productImage" />
        </ng-template>
        <p>
          Uploaded On: {{ item.createdOn.low * 1000 | date : "medium" }}
          <br />
          Product Type: {{ item.productType }}
          <br />
          Price: {{ item.productCost }} ₹
          <br />
          Status: {{ getStatusText(item.IsPurchased) }}
        </p>
        <div class="button-grid">
          <button
            pButton
            pRipple
            label="Rate Product"
            icon="pi pi-star-fill"
            class="p-button-secondary"
            (click)="setCurrentObjectId(item.id)"
          ></button>

          <button
            pButton
            pRipple
            label="WishList"
            class="p-button-secondary"
            icon="pi pi-heart-fill"
            (click)="WishList(item.id)"
          ></button>

          <button
            pButton
            pRipple
            label="Purchase"
            class="p-button-secondary"
            icon="pi pi-receipt"
            (click)="paymentRoute(item.id)"
          ></button>

          <button
            pButton
            pRipple
            *ngIf="showButton"
            label="remove"
            class="p-button-secondary"
            icon="pi pi-trash"
            (click)="remove(item.id)"
          ></button>
        </div>
      </p-card>
    </ng-container>
    <ng-template #loading>Loading...</ng-template>
  </div>
</div>
