<div class="verifyOtp-container">
  <div class="verifyOtp-message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>

  <form class="verifyOtp-container-form" [formGroup]="myForm">
    <div class="verifyOtp-container-form-top">
      <h1>Verify OTP</h1>
    </div>

    <div class="verifyOtp-container-form-input">
      <label>OTP</label>
      <div *ngIf="myForm.get('otp')?.errors?.['pattern']" class="error">
        Enter valid OTP
      </div>
      <p-inputOtp placeholder="Enter OTP" formControlName="otp" />
    </div>
    <div class="verifyOtp-container-form-button">
      <button
        pButton
        pRipple
        label="Submit"
        class="p-button-success"
        (click)="submitForm()"
        [disabled]="myForm.invalid"
      ></button>
    </div>
  </form>
</div>
<div class="loader-container" *ngIf="!flag">
  <div class="loader"></div>
</div>
