.add-url-container {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 1rem;
}

.add-url-container-sub {
  display: flex;
  justify-content: space-evenly;
  width: 35vw;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .add-url-container {
    height: 60vh;
    padding: 0.5rem;
  }

  .add-url-container-sub {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
}
