<div class="edit-shop-container">
  <p>
    Welcome to the Update Shop Details page! Here, you can modify the details of
    your shop. Simply update the necessary fields with the new information and
    click the "Submit" button to update your shop details. If you have any
    questions or need further assistance, please feel free to contact our
    support team. <br />
    <b>Thank you!</b>
  </p>

  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>

  <form class="edit-shop-container-form" [formGroup]="myForm">
    <div class="edit-shop-container-form-top">
      <h1>Edit Shop</h1>
    </div>
    <div class="edit-shop-container-form-input">
      <label>Shop name </label>
      <input type="text" placeholder="Shop Name" formControlName="shopName" />
      <label>Address </label>
      <input type="text" placeholder="Shop Address" formControlName="address" />
      <label>official email </label>
      <input
        type="text"
        placeholder="official email"
        formControlName="officialEmail"
      />
      <label>official contact Number </label>
      <input
        type="text"
        placeholder="official contactNo"
        formControlName="officialContactNo"
      />
      <label>Shop Image</label>
      <input type="file" (change)="onImageSelected($event)" accept="image/*" />
    </div>
    <div class="edit-shop-container-form-button">
      <button
        type="button"
        pButton
        pRipple
        label="Submit"
        class="p-button-success"
        (click)="submitForm()"
      ></button>
    </div>
  </form>
</div>
