<div class="profile-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>
  <p-card header="Profile">
    <ng-template pTemplate="header">
      <img alt="image" src="{{ profileImage }}" loading="lazy" />
    </ng-template>
    <p>email : {{ email }}</p>
    <p>firstName : {{ firstName }}</p>
    <p>lastName : {{ lastName }}</p>
    <p>mobileNo: {{ mobileNo }}</p>
    <p>userType: {{ userType }}</p>
    <ng-template pTemplate="footer">
      <div class="flex flex-wrap gap-3 mt-1">
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          label="Edit"
          class="p-button-text"
          aria-label="Edit"
          (click)="edit()"
        ></button>

        <button
          pButton
          pRipple
          icon="pi pi-info-circle"
          label="Info"
          class="p-button-text"
          aria-label="Info"
          (click)="info()"
        ></button>

        <button
          pButton
          pRipple
          icon="pi pi-box"
          label="My Orders"
          class="p-button-text"
          aria-label="My Orders"
          (click)="order()"
        ></button>

        <button
          pButton
          pRipple
          icon="pi pi-power-off"
          label="Logout"
          class="p-button-text"
          aria-label="Logout"
          (click)="LogoutSupport()"
        ></button>

        <button
          pButton
          pRipple
          icon="pi pi-pen-to-square"
          label="Change Password"
          class="p-button-text"
          aria-label="Change Password"
          (click)="updatePassword()"
        ></button>
      </div>
    </ng-template>
  </p-card>
  <div class="profile-child">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="loader-container" *ngIf="email == undefined">
  <div class="loader"></div>
</div>
