<div class="add-customer-table-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>
  <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>shopName</th>
        <th>address</th>
        <th>officialEmail</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.shopName }}</td>
        <td>{{ product.address }}</td>
        <td>{{ product.officialEmail }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="loader-container" *ngIf="!products">
  <div class="loader"></div>
</div>
