<div class="customer-view-subscription-container">
  <div class="message-card">
    <p-messages
      [value]="msg"
      [closable]="true"
      [enableService]="false"
    ></p-messages>
  </div>

  @if(flag){
  <div class="customer-view-subscription-container-button-grid">
    <p-button severity="secondary"
      ><i class="pi pi-shop text-3xl" pBadge value="{{ products.length }}"></i
    ></p-button>
    <p-button
      severity="secondary"
      icon="pi pi-plus"
      (click)="addSubscription()"
    ></p-button>
  </div>
  <div class="customer-view-subscription-container-table">
    <app-tables [data]="products" [header]="header"></app-tables>
  </div>
  } @else {
  <div class="loader-container">
    <div class="loader"></div>
  </div>
  }
</div>
