.dashboard-container {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: #f5f5f5;
  color: #1e5d4a;
}

.offline {
  color: red;
}

.online {
  color: green;
}

::ng-deep .menu .p-menuitem :hover {
  background-color: #fff !important;
  border-radius: 6px;
  color: darkgreen;
}
