.update-profile-container {
  width: 100%;
  height: fit-content;
}

.update-profile-container-form {
  background-color: #f0f0f0;
  width: 100%;
  height: fit-content;
  border: solid #ffffff 0.2px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1%;
  color: #000;
}

.update-profile-container-form-top {
  background-color: transparent;
  height: 10%;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.update-profile-container-form-top h1 {
  text-align: center;
}

.update-profile-container-form-input {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
}

.update-profile-container-form-input input,
.update-profile-container-form-input select {
  margin-top: 2%;
  height: 5dvh;
  width: 30dvw;
  border-radius: 5px;
  border: solid #f0f0f0 0.2px;
}

.update-profile-container-form-input select {
  background-color: #ffffff;
}

.update-profile-container-form-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
  width: 100%;
}

@media (max-width: 600px) {
  .update-profile-container-form {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
  }

  .update-profile-container-form-input input,
  .update-profile-container-form-input select {
    height: 5dvh;
    width: 70dvw;
  }
}
