.share-profile-container {
  height: fit-content;
  width: 97vw;
}

.share-profile-container img {
  width: 50vw;
  height: 60vh;
  object-fit: cover;
}

@media (max-width: 600px) {
  .share-profile-container img {
    width: 97vw;
  }
}
