<div class="share-profile-container">
  <p-card header="Profile">
    <ng-template pTemplate="header">
      <img alt="image" src="{{ profileImage }}" />
    </ng-template>
    <p>email : {{ email }}</p>
    <p>firstName : {{ firstName }}</p>
    <p>lastName : {{ lastName }}</p>
    <p>mobileNo: {{ mobileNo }}</p>
    <p>userType: {{ userType }}</p>
    <ng-template pTemplate="footer">
      <p>Uploaded On: {{ lastUpdated | date : "medium" }}</p>
    </ng-template>
  </p-card>
</div>
<div class="loader-container" *ngIf="email == undefined">
  <div class="loader"></div>
</div>
